In [32]:
import requests
import pandas as pd
import json
import numpy as np

In [89]:
# used to get lap data on a desired car and no of laps
def get_lapData(car_no, start, end):
    print(f'Lap data for car No. {car_no} is on its way!!')
    data_list = []
    for i in range(start, end):
        response = requests.get(f'https://api.openf1.org/v1/laps?session_key=latest&driver_number={car_no}&lap_number={i}')

        if response.status_code != 200:
            return 'API request error now. Try again!'
        
        data = response.json()
        if len(data) > 0:
            data_list.append(data[0])

    return data_list

# function used to clean lap data
def clean_lapData(df):
    df.drop(columns=['date_start', 'meeting_key', 'session_key'])
    df.rename(columns={"duration_sector_1": "S1", "duration_sector_2": "S2", "duration_sector_3" : 'S3'}, inplace=True)
    return df

In [50]:
# used to convert the list data into a df
def to_df(data):
    return pd.DataFrame(data)

In [91]:
# used to get info on stints
def get_stint(car_no, stint_length):
    print(f'Stint data for car No. {car_no} is incoming!!')

    data_list = []
    
    response = requests.get(f'https://api.openf1.org/v1/stints?session_key=latest&tyre_age_at_start>={stint_length}')

    if response.status_code != 200:
        return 'API request error currently. Review info and try again!!'
    
    data = response.json()

    for i in range(0, len(data)):
        if data[i]['driver_number'] == car_no: 
            data_list.append(data[i])
            
    return data_list

# function used to clean stint data
def clean_stintData(df): 
    df.drop(columns=['date_start', 'meeting_key', 'session_key'])
    return df

In [90]:
"""
Find the long run pace of car No 44.
"""

stint = get_stint(44, 5)

# unpack the stint data to get start/end of stint lap
start = stint[0]['lap_start']
end = stint[0]['lap_end']

lap = get_lapData(44, start, end + 1)

df = to_df(lap)
df = clean_lapData(df)

df

Stint data for car No. 44 is incoming
Lap data for car No. 44 is on its way!!

,meeting_key,session_key,driver_number,i1_speed,i2_speed,st_speed,date_start,lap_duration,is_pit_out_lap,S1,S2,S3,segments_sector_1,segments_sector_2,segments_sector_3,lap_number
0,1242,9568,44,318.0,202,298.0,2024-07-26T15:43:58.133000+00:00,109.143,False,31.804,47.945,29.394,"[2048, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",15
1,1242,9568,44,317.0,203,299.0,2024-07-26T15:45:47.278000+00:00,109.394,False,31.836,48.083,29.475,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",16
2,1242,9568,44,322.0,201,298.0,2024-07-26T15:47:36.733000+00:00,109.684,False,31.820,48.445,29.419,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",17
3,1242,9568,44,NaN,201,299.0,2024-07-26T15:49:26.337000+00:00,109.845,False,31.798,48.265,29.782,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",18
4,1242,9568,44,321.0,199,298.0,2024-07-26T15:51:16.165000+00:00,110.035,False,31.911,48.556,29.568,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",19
5,1242,9568,44,323.0,195,300.0,2024-07-26T15:53:06.186000+00:00,112.737,False,31.870,49.347,31.520,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",20
6,1242,9568,44,322.0,195,NaN,2024-07-26T15:54:58.937000+00:00,111.105,False,31.952,49.473,29.680,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",21
7,1242,9568,44,312.0,188,306.0,2024-07-26T15:56:50.133000+00:00,112.256,False,31.903,50.456,29.897,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",22
8,1242,9568,44,NaN,188,NaN,2024-07-26T15:58:42.355000+00:00,113.031,False,31.949,51.225,29.857,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",23
9,1242,9568,44,172.0,109,158.0,2024-07-26T16:00:35.435000+00:00,193.671,False,52.843,83.491,57.337,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...","[2048, 2048, 2048, 2048, 2048, 2048, 2064]",24
10,1242,9568,44,316.0,176,289.0,2024-07-26T16:03:48.968000+00:00,186.264,False,62.495,62.015,61.754,"[None, 2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048, 204...",[],25

In [103]:
# calculate the average lap time during the stint, as well as average sector time
s_time = np.mean(df['lap_duration'])
print(s_time)

sec_time = []
for i in range(0, 3):
    sec_time.append(float(np.mean(df[f'S{i + 1}'])))

print(sec_time)

125.19681818181817

TypeError: list.append() takes exactly one argument (2 given)